<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Title" value="**TEST** Insurance Strategies, LLC **TEST**" />
    <add key="SupportCenterClientID" value="100" />
    <add key="LogOnServerXMLVersion" value="2.0" />
    <add key="UpdatePackageKey" value="05cca05f-38f3-4925-8128-ef98d332bbbe" />
    <add key="LogOnDomainName" value="Insstrat_test" />
    <add key="LogOnServerPort" value="9213" />
    <add key="LogOnServer" value="ws2.mgasystems.com" />
    <add key="ExcelConnectionString" value="provider=Microsoft.Jet.OLEDB.4.0;Extended Properties=Excel 8.0;" />
    <add key="WebServicesLogonUrl" value="https://ws2.mgasystems.com/ims_insurancestrategiestest/logon.asmx" />
    <add key="WebServicesInvoicingUrl" value="https://ws2.mgasystems.com/ims_insurancestrategiestest/InvoiceFactory.asmx" />
    <add key="WebServicesDocumentsUrl" value="https://ws2.mgasystems.com/ims_insurancestrategiestest/DocumentFunctions.asmx" />
  </appSettings>
  <runtime />
</configuration>