<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Title" value="One IMS" />
    <add key="AddressServicePassword" value="pass" />
    <add key="SupportCenterClientID" value="52" />
    <add key="UpdatePackageKey" value="558e7800-6621-4cfa-9a14-a98db308843b" />
    <add key="LogOnDomainName" value="IMS_One" />
    <add key="LogOnServerPort" value="9213" />
    <add key="LogOnServer" value="dc02imsws01.rsgcorp.local" />
    <add key="ExcelConnectionString" value="provider=Microsoft.Jet.OLEDB.4.0;Extended Properties=Excel 8.0;" />
    <add key="WebServicesLogonUrl" value="http://dc02imsws01.rsgcorp.local/ims_one/logon.asmx" />
    <add key="WebServicesInvoicingUrl" value="http://dc02imsws01.rsgcorp.local/ims_one/InvoiceFactory.asmx" />
    <add key="WebServicesDocumentsUrl" value="http://dc02imsws01.rsgcorp.local/ims_one/DocumentFunctions.asmx" />
  </appSettings>
  <runtime />
</configuration>